body h1{
    color: #f137ba;
    text-align: center;
    font-size: 40px;
    font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 0.5px black ;
}
body{
    font-size: 18px;
    color: #ffffff;
    background-image:url(mushrooms-2786789_1920.jpg) ;
    background-size: cover;
}
.image{
    border: dotted 5px #25b9f3;
    background-color: #f6faeb;
}
.key{
    color: #fd4315;
}
